/* Color Palettes
    #0b0c10
    #1f2833
    #c5c6c7
    #66fcf1
    #45a29e */
*,
 *:before,
 *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body  
{  
    background-color: #0b0c10;
    font-family: 'Arial';  
    height: 100vh;
    padding: 5em 20em;
}  

.login-wrapper{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    background-color: #1f2833;
    border-radius: 20px;
    padding: 1em;
}

.login-headings-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    font-size: 40px;
    color: white;
  }

.login-form{  
    display: grid;
    place-content: center;
}

.text-field{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 1em;
}


.credential-box{
    width: 308px;  
    height: 40px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}
.credential-box-small{
    width: 150px;  
    height: 40px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}


.btnSubmit{
    font-size: 15px;
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    background-color: #66fcf1;  
    color: black;
    margin-bottom: 1em;
    
}
.btnSubmit:hover{
    background-color: #45a29e;
}

.btnRegister{
    font-size: 15px;
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    background-color: #66fcf1;  
    color: black;
    margin-bottom: 1em;
}
.btnRegister:hover{ 
    background-color: #45a29e;  
}

span{  
    color: white;  
    font-size: 17px;  
}  


.forgot{
    color: #66fcf1;
}
.forgot:hover{
    color: black;
}

.or-field{
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #fff; 
    line-height: 0.1em;
    margin: 10px 0 20px;  
}

.or-line{
    background:#1f2833; 
    padding:0 10px; 
}


